header {
	width: 100%;
	// background: #333;

	.inner {
		width: 1180px;
		height: 100px;
		margin: 0 auto;
		position: relative;

		h1 {
			position: absolute;
			left: 0;
			bottom: 20px;

			a {
				font: bold 20px/1 "Dosis";
				color: #555;
			}
		}
		#gnb {
			position: absolute;
			bottom: 0px;
			right: 0px;

			li {
				float: left;
				a {
					display: inline-block;
					padding: 22px 30px;
					font: normal 13px/1 "Dosis";
					color: #777;
					transition: 0.5s;

					&:hover {
						color: #111;
						font-weight: bold;
					}
				}
			}
		}
		.btnCall{
            display:none; 
            width:20px; 
            height:20px; 
            position:absolute; 
            right:30px; 
            top:70%; 
            transform:translateY(-50%); 

            &::before{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#555; 
                position:absolute; 
                top:0; 
                left:0; 
                transition:top 0.5s 0s, transform 0.5s 0.5s; 
            }
            &::after{
                content:''; 
                display:block; 
                width:100%; 
                height:2px; 
                background:#555; 
                position:absolute; 
                bottom:0; 
                left:0; 
                transition:bottom 0.5s 0s, transform 0.5s 0.5s; 
            }
            span{
                display:block; 
                width:100%; 
                height:2px; 
                background:#555; 
                position:absolute; 
                top:50%; 
                margin-top:-1px; 
                left:0; 
                text-indent:-9999px; 
                transition:0.5s; 
            }

            &.on{
                &::before{
                    top:50%; margin-top:-1px; 
                    transform:rotate(45deg); 
                }
                &::after{
                    bottom:50%; margin-bottom:-1px; 
                    transform:rotate(-45deg); 
                }
                span{
                    transform:translateX(100%); 
                    opacity:0; 
                }
            }
        }

        .menuMobile{
            position:fixed; 
            top:0; 
            left:-270px; 
            width:270px;
            height:100vh;
            background:#333; 
            transition:0.5s; 
            padding:35px 30px; 
            z-index:10; 

            >h1{ 
				width: 100%;
				padding-bottom:  30px;
				position: absolute;
				bottom: 0; left: 50%;
				transform: translateX(-50%);
				text-align: center;

                >a{
                    display:block; 
                    font: bold 20px/1 "Dosis";
					letter-spacing: 0.5px; 
                    color:#ddd; 
        

					
                }
                >span{
					
					font: bold 13px/1 "Dosis";
					letter-spacing: 0.5px;
                    color:#aaa; 
                }
            }

            #gnbMo li {
                display:block; 
                width:100%; 
                padding:20px 0px; 
                border-bottom:1px solid #444; 
                color:#888; 
                text-align:center; 

				>a{
					color: #aaa;
					font: bold 15px/1 "Dosis";

				}
            }

            &.on{
                left:0px; 
            }
        }
	}
}

main {
	padding: 100px 0px;
	transition: 1s;
	opacity: 0;
	transform: translateY(100px);
	&.on {
		opacity: 1;
		transform: translateY(0px);
	}

	> .inner {
		width: 1180px;
		min-height: 500px;
		margin: 0px auto;

		h1 {
			font: 30px/1 "arial";
			color: #333;
			margin-bottom: 20px;
		}
	}
}

footer {
	width: 100%;
	border-top: 1px solid #333;
	padding: 50px 0;
	background: #333;

	.inner {
		width: 1180px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		> h1 {
			cursor: pointer;
			font: bold 20px/1 "arial";
			color: #fff;
			text-align: left;
			opacity: 0.7;

			&::after {
				content: "";
				display: block;
				width: 100%;
				margin-top: 40px;
				height: 1px;
				background: #ddd;
				margin-bottom: 30px;
				opacity: 0.2;
			}
		}
		> input {
			width: 150px;
			height: 25px;
			background: none;
			position: absolute;
			right: 120px;
			top: 0;
		}
		> button {
			width: 100px;
			height: 25px;
			background: none;
			font: 13px/1 "arial";
			color: #fff;
			opacity: 0.7;
			position: absolute;
			right: 0;
			top: 0;
		}

		.footer_li {
			width: 100%;
			display: flex;
			justify-content: space-between;
			> span {
				cursor: pointer;
				font: 15px/1 "arial";
				color: #fff;
				opacity: 0.7;

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 1179px) {

	header {
		.inner {
			width: 100%;
			h1 {
				left: 3vw;
			}
			.btnCall{
				display:block; 
			}
			#gnb {
				display: none;
			}
		}
	}

	main {
		padding: 80px 40px;
		.inner {
			width: 100%;
		}
	}

	footer {
		> .inner {
			width: 100%;
			padding: 0 50px;
			> h1 {
				cursor: pointer;
				font: bold 20px/1 "arial";
				color: #fff;
				text-align: left;
				opacity: 0.7;

				&::after {
					content: "";
					display: block;
					width: 100%;
					margin-top: 40px;
					height: 1px;
					background: #ddd;
					margin-bottom: 30px;
					opacity: 0.2;
				}
			}
			> input {
				margin-right: 50px;
			}
			> button {
				right: 50px;
				top: 0;
			}

			.footer_li {
				width: 100%;
				display: flex;
				justify-content: space-between;
				> span {
					cursor: pointer;
					font: 15px/1 "arial";
					color: #fff;
					opacity: 0.7;
				}
			}
		}
	}
}

@media screen and (max-width: 744px) {
	header {
		.inner {
			width: 100%;
			h1 {
				left: 3vw;
			}
			#gnb {
				display: none;
			}
		}
	}

	main {
		padding: 80px 40px;
		.inner {
			width: 100%;
		}
	}

	footer {
		> .inner {
			width: 100%;
			padding: 0 50px;
			> h1 {
				cursor: pointer;
				font: bold 20px/1 "arial";
				color: #fff;
				text-align: left;
				opacity: 0.7;

				&::after {
					content: "";
					display: block;
					width: 100%;
					margin-top: 40px;
					height: 1px;
					background: #ddd;
					margin-bottom: 30px;
					opacity: 0.2;
				}
			}
			> input {
				margin-right: 50px;
			}
			> button {
				right: 50px;
				top: 0;
			}
			.footer_li {
                width: 100%;
				> span {
					font: 12px/1 "arial";
					margin-right: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 539px) {
	header {
		.inner {
			width: 100%;
			h1 {
				left: 3vw;
			}
			#gnb {
				display: none;
			}
		}
	}

	main {
		padding: 80px 40px;
		.inner {
			width: 100%;
		}
	}

	footer {
		> .inner {
			width: 100%;
			padding: 0 50px;
			> h1 {
				cursor: pointer;
				font: bold 20px/1 "arial";
				color: #fff;
				text-align: left;
				opacity: 0.7;

				&::after {
					content: "";
					display: block;
					width: 100%;
					margin-top: 40px;
					height: 1px;
					background: #ddd;
					margin-bottom: 30px;
					opacity: 0.2;
				}
			}
			> input {
                width: 110px;
                height: 25px;
                right: 100px;
				margin-right: 50px;
			}
			> button {
                width: 90px;
                height: 25px;
                background: none;
                font: 12px/1 "arial";
			}
			.footer_li {
				> span {
					font: 10px/1 "arial";
				}
			}
		}
	}
}
