header{
    width: 100%;
    // background: #333;

    .inner{
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            left: 0; bottom: 20px;

            a{
                font: bold 20px/1 "Dosis";
                color: #555;
            }
        }
        #gnb{
            position: absolute;
            bottom: 0px; right: 0px;

            li{
                float: left;
                a{
                    display: inline-block;
                    padding: 22px 30px;
                    font: normal 13px/1 "Dosis";
                    color: #777;
                    transition: 0.5s;

                    &:hover{
                        color: #111;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

main {
    padding: 100px 0px;transition: 1s; opacity: 0; transform: translateY(100px);
    &.on {
        opacity: 1; transform: translateY(0px);
    }

    >.inner {
        width: 1180px;
        min-height: 500px;
        margin: 0px auto;

        h1{
            font: 30px/1 "arial";
            color: #333;
            margin-bottom: 20px;
        }
    }
}

footer{
    width: 100%;
    border-top: 1px solid #333;
    padding: 50px 0;
    background: #333;

    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        >h1{
            cursor: pointer;
            font: bold 20px/1 "arial";
            color: #fff;
            text-align: left;
            opacity: 0.7;
            

            &::after{
                content: "";
                display: block;
                width: 100%;
                margin-top: 40px;
                height: 1px;
                background: #ddd;
                margin-bottom: 30px;
                opacity: 0.2;
            }
        }
        >input{
            width: 150px; height: 25px;
            background: none;
            position: absolute;
            right: 120px;top: 0;
        }
        >button{
            width: 100px; height: 25px;
            background: none;
            font: 13px/1 "arial";
            color: #fff;
            opacity: 0.7;
            position: absolute;
            right: 0; top: 0;
        }

        >span{
            cursor: pointer;
            font: 15px/1 "arial";
            color: #fff;
            opacity: 0.7;
            margin-right: 97px;

            &:last-child{
                margin-right: 0px;
            }
        }
    }
}

@media screen and (max-width: 1179px) {
    header{
        .inner{
            width: 100%;
            h1{
                left: 3vw;
            }
            #gnb{
                display: none;
            }
        }
    }

    main{
        padding: 80px 40px;
        .inner{
            width: 100%;
        }
    }

    footer{
        >.inner{
            width: 100%;
        }
    }
}

