#info {
	position: relative;
	width: 100%;
	padding: 100px 0 80px;
	// min-height: 5000px;

	.inner {
		width: 1180px;
		margin: 0px auto;
		&::after {
			position: absolute;
			top: 100px;
			content: "";
			display: block;
			width: 1px;
			height: 97.7%;
			background: #555;
		}

		.sec1 {
			width: 100%;
			position: relative;

			> h2 {
				letter-spacing: 2px;
				position: absolute;
				top: 300px;
				left: -120px;
				transform: rotate(-90deg);
				font: bold 18px/1 "PT Sans Narrow";
				color: #333;
			}

			.sec1_pic {
				width: 100%;
				height: 400px;

				.sec1_pic1 {
					width: 60%;
					height: 100%;
					object-fit: cover;
					filter: grayscale(1);
					transition: 1s;
					position: absolute;
					top: 0;
					right: 0;

					&:hover {
						filter: grayscale(0);
					}
				}
				> button {
					background: none;
					position: absolute;
					right: 50px;
					top: 370px;
					border: none;
					> .btn1 {
						width: 200px;
						height: 100px;
						cursor: pointer;
					}
					> span {
						cursor: pointer;
						display: inline-block;
						font: bold 15px/1.2 "PT Sans Narrow";
						color: #fff;
						letter-spacing: 2px;
						text-align: center;
						position: absolute;
						right: 56px;
						top: 32px;
					}
				}
			}
		}
		.sec1_txt1 {
			padding: 0px 0px 70px;
			position: relative;
			width: 100%;
			margin-left: 20px;
			> span {
				letter-spacing: 1.5px;
				font: normal 16px/1 "PT Sans Narrow";
				color: #555;
				&::after {
					position: absolute;
					top: -20px;
					content: "";
					display: block;
					width: 36%;
					height: 1px;
					background: #555;
				}
			}
			> h1 {
				margin-top: 10px;
				font: bold 50px/1.2 "PT Sans Narrow";
				letter-spacing: 1px;
			}
		}
		.sec1_txt2 {
			padding: 0px 0px 50px;
			position: relative;
			width: 100%;
			margin-left: 20px;
			> span {
				letter-spacing: 1.5px;
				font: normal 16px/1 "PT Sans Narrow";
				color: #555;
				&::after {
					position: absolute;
					top: -20px;
					content: "";
					display: block;
					width: 65%;
					height: 1px;
					background: #555;
				}
				&::before {
					transform: rotate(-45deg);
					position: absolute;
					top: 15px;
					right: 398px;
					content: "";
					display: block;
					width: 100px;
					height: 1px;
					background: #555;
				}
			}
			> h1 {
				margin-top: 10px;
				font: bold 25px/1.2 "PT Sans Narrow";
				letter-spacing: 1px;
			}
		}
		.sec1_txt3 {
			float: right;
			width: 340px;
			height: 285px;
			border: 1px solid #555;
			padding: 25px;
			transform: translateY(-250px);

			> h2 {
				font: bold 18px/1.2 "PT Sans Narrow";
				letter-spacing: 0.5px;
				color: #555;
			}
			> p {
				width: 300px;
				margin-top: 5px;
				font: normal 15px/1.2 "PT Sans Narrow";
				letter-spacing: 0.3px;
				margin-bottom: 20px;
				color: #777;
			}
			> span {
				letter-spacing: 0.5px;
				font: normal 13px/1.2 "PT Sans Narrow";
				color: #999;
			}
		}
		.vivi {
			width: 100%;
			height: 270px;
			position: relative;
			.txt3_pic {
				position: absolute;
				left: 27%;
				width: 460px;
				height: 270px;
				object-fit: cover;
				margin-top: 20px;
				filter: grayscale(1);
				transition: 1s;

				&:hover {
					filter: grayscale(0);
				}
			}
		}

		.sec2 {
			padding: 100px 0 70px;
			width: 100%;
			margin-left: 20px;

			&::after {
				content: "";
				display: block;
				clear: both;
			}

			.sec2_box {
				border-top: 1px solid #333;
				padding-top: 20px;
				margin-right: 40px;
				float: left;
				width: 360px;
				box-sizing: border-box;
				margin-bottom: 80px;

				&:nth-child(3),
				&:nth-child(6) {
					margin-right: 0;
				}
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {
					margin-bottom: 0px;
				}

				.sec2_pic {
					cursor: pointer;
					width: 100%;
					height: 200px;
					object-fit: cover;
					margin-bottom: 10px;
					filter: grayscale(1);
					transition: 1s;

					&:hover {
						filter: grayscale(0);
					}
				}
				> span {
					font: normal 14px/1.2 "PT Sans Narrow";
					color: #999;
					letter-spacing: 0.5px;
				}
				> h2 {
					margin-top: 5px;
					font: bold 25px/1.2 "PT Sans Narrow";
					color: #333;
					letter-spacing: 1px;
				}
				> p {
					margin-top: 10px;
					word-break: break-all;
					font: normal 18px/1.2 "PT Sans Narrow";
					color: #555;
					letter-spacing: 0.5px;
				}
			}
		}

		.sec3 {
			padding: 20px 0 70px;
			border-top: 1px solid #555;
			width: 100%;
			position: relative;
			margin-left: 20px;

			&::after {
				content: "";
				display: block;
				clear: both;
			}

			> h1 {
				float: left;
				font: bold 40px/1 "PT Sans Narrow";
				color: #333;
				letter-spacing: 1px;
			}
			.sec3_txt {
				width: 55%;
				float: right;
				> p {
					margin-top: 10px;
					word-break: break-all;
					font: normal 18px/1.3 "PT Sans Narrow";
					color: #555;
					letter-spacing: 0.5px;
					margin-bottom: 20px;
				}
				> button {
					cursor: pointer;
					display: block;
					border: 1px solid #333;
					color: #333;
					width: 100px;
					height: 30px;
					font: normal 14px/1.3 "PT Sans Narrow";
					letter-spacing: 1px;
					transition: 1s;
					background: none;

					&:hover {
						background: #333;
						color: #fff;
					}
				}
			}
		}

		.sec4 {
			padding-bottom: 70px;
			margin-left: 20px;
			position: relative;
			width: 100%;
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background: #555;
				margin-bottom: 20px;
			}

			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.sec4_pic {
				position: relative;
				float: right;
				width: 700px;

				.sec4_box {
					width: 100%;
					height: 285px;
					object-fit: cover;
					filter: grayscale(0.9);
					opacity: 0.9;
					transition: 1s;

					&:hover {
						filter: grayscale(0);
						opacity: 1;
					}
				}
			}
			.sec4_txt {
				float: left;
				width: 442px;

				> h2 {
					margin-top: 10px;
					font: bold 25px/1px "PT Sans Narrow";
					color: #333;
					letter-spacing: 0.5px;
					margin-bottom: 25px;
				}
				> p {
					font: normal 18px/1.3 "PT Sans Narrow";
					letter-spacing: 0.5px;
					color: #555;
					word-break: break-all;
				}
			}
		}

		.sec5 {
			margin-left: 20px;
			position: relative;
			width: 100%;
			height: 412px;

			&::after {
				content: "";
				display: block;
				clear: both;
			}
			.sec5_box1 {
				float: left;
				width: 680px;
				display: flex;
				padding-top: 20px;
				border-top: 1px solid #555;
				.sec5_pic1 {
					margin-right: 30px;
					width: 400px;
					height: 425px;
					object-fit: cover;
					filter: grayscale(1);
					opacity: 0.9;
					transition: 1s;

					&:hover {
						filter: grayscale(0);
					}
				}
				.sec5_txt {
					width: 250px;
					> h2 {
						font: bold 25px/35px "PT Sans Narrow";
						color: #333;
						letter-spacing: 0.5px;
					}
					> p {
						margin-top: 10px;
						font: normal 18px/1.3 "PT Sans Narrow";
						letter-spacing: 0.3px;
						color: #555;
						word-break: break-all;
					}
					> button {
						cursor: pointer;
						color: #333;
						margin-top: 15px;
						border: none;
						font: normal 15px/1.4 "PT Sans Narrow";
						background: none;
					}
				}
			}
			.sec5_box2 {
				border-top: 1px solid #555;
				padding-top: 20px;
				position: absolute;
				right: 236px;
				float: right;
				width: 206px;
				height: 200px;
				.sec5_pic2 {
					width: 100%;
					height: 180px;
					object-fit: cover;
					filter: grayscale(1);
					transition: 1s;

					&:hover {
						filter: grayscale(0);
					}
				}
				.sec5_txt2 {
					> h2 {
						margin-top: 10px;
						font: bold 25px/1.2 "PT Sans Narrow";
						color: #333;
						letter-spacing: 0.5px;
					}
					> p {
						margin-top: 10px;
						font: normal 18px/1.3 "PT Sans Narrow";
						letter-spacing: 0.3px;
						color: #555;
						word-break: break-all;
					}
					> button {
						cursor: pointer;
						color: #333;
						margin-top: 15px;
						border: none;
						font: normal 15px/1.4 "PT Sans Narrow";
						background: none;
					}
				}
			}
			.sec5_box3 {
				padding-top: 20px;
				border-top: 1px solid #555;
				float: right;
				width: 206px;
				height: 180px;
				.sec5_pic3 {
					width: 100%;
					height: 180px;
					object-fit: cover;
					filter: grayscale(1);
					transition: 1s;

					&:hover {
						filter: grayscale(0);
					}
				}
				.sec5_txt3 {
					> h2 {
						margin-top: 10px;
						font: bold 25px/1.2 "PT Sans Narrow";
						color: #333;
						letter-spacing: 0.5px;
					}
					> p {
						margin-top: 10px;
						font: normal 18px/1.3 "PT Sans Narrow";
						letter-spacing: 0.3px;
						color: #555;
						word-break: break-all;
					}
					> button {
						cursor: pointer;
						color: #333;
						margin-top: 15px;
						border: none;
						font: normal 15px/1.4 "PT Sans Narrow";
						background: none;
					}
				}
			}
		}

		.sec6 {
			margin-left: 20px;
			padding: 110px 0 70px;
			width: 100%;
			.sec6_box {
				width: 100%;
				height: 300px;
				background-color: #333;
				position: relative;

				.sec6_pic {
					width: 100%;
					height: 300px;
					object-fit: cover;
					background-attachment: fixed;
					filter: grayscale(1);
				}
				.sec6_txt {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					> h2 {
						font: bold 25px/1 "PT Sans Narrow";
						color: #fff;
						text-align: center;
						letter-spacing: 1px;
					}
					>p {
						margin-top: 20px;
						font: bold 18px/1.3 "PT Sans Narrow";
						opacity: 0.8;
						color: #fff;
						text-align: center;
						letter-spacing: 0.9px;
					}
				}
			}
		}


		.sec7 {
			padding: 20px 0 0 0;	
			border-top: 1px solid #555;
			width: 100%;
			position: relative;
			margin-left: 20px;

			&::after {
				content: "";
				display: block;
				clear: both;
			}

			.sec7_txt {
				width: 40%;
				float: right;

			> h1 {
				
				font: bold 40px/1 "PT Sans Narrow";
				color: #333;
				letter-spacing: 1px;
			}
		
				> p {
					margin-top: 15px;
					word-break: break-all;
					font: normal 18px/1.3 "PT Sans Narrow";
					color: #555;
					letter-spacing: 0.5px;
					margin-bottom: 24px;
				}
				> button {
					cursor: pointer;
					display: block;
					border: 1px solid #333;
					color: #333;
					width: 100px;
					height: 30px;
					font: normal 14px/1.3 "PT Sans Narrow";
					letter-spacing: 1px;
					transition: 1s;
					background: none;

					&:hover {
						background: #333;
						color: #fff;
					}
				}
			}
			.sec7_pic{
				float: left;
				width: 55%;
				object-fit: cover;
				filter: grayscale(1);
				transition: 1s;

				&:hover{
					filter: grayscale(0);
				}
			}
		}
	}
}
