figure{
    margin: 0 auto;
    width: 100%;
    background: cyan;
}
#info{
    width: 100%;
    padding: 100px 0;
    .inner{
        width: 1180px;
        min-height: 300px;
        margin: 0px auto;


    }
}