.about{
    .inner{
        >h1{
            a{
                font: normal 80px/1 "PT Sans Narrow";
                color: #333;
            }
            &::after{
                content: "";
                display: block;
                width: 68%;
                height: 1px;
                background: #555;
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }
        >p{
            font: 16px/1.3 "PT Sans Narrow";
            color: #555;
            margin: 0 auto;
            width: 450px;
            word-wrap: break-word;
            letter-spacing: 1px;
            margin-bottom: 150px;
        }

        .about_vid{
            position: relative;
            padding-top: 20px;
            border-top: 1px solid #555;
            width: 100%;
            margin-bottom: 80px;
            .a_vid{
                width: 100%; height: 400px;
                object-fit: cover;
                filter: grayscale(1);
                transition: 1s;

                &:hover{
                    filter: grayscale(0);
                }
            }
            >h1{
                letter-spacing: 1px;
                font: normal 30px/1 "PT Sans Narrow";
                color: #fff;
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .main_designer{
            width: 100%;
            padding: 80px 80px;
            border: 1px solid #555;

            .ceo{
                width: 100%;
                position: relative;
            


                &::after{
                    content: "";
                    display: block;
                    clear: both;
                }

                .ceo_pic{
                    cursor: pointer;
                    float: left;
                    width:500px;
                    height: 430px;
                    object-fit: cover;
                    margin-right: 58px;
                }
                .ceo_txt{
                    padding: 10px 0;
                    width: 460px;
                    position: relative;
                    float: right;
    

                    >h1{
                        font: bold 25px/1 "PT Sans Narrow";
                        color: #333;
                        margin-bottom: 20px;
                        letter-spacing: 1px;
                    }
                    >p{
                        letter-spacing: 0.5px;
                        word-break: break-all;
                        font: normal 18px/1.3 "PT Sans Narrow";
                        color: #555;
                    }
                    
                }
            }
        }
        .ceo_letter{
            padding: 0px 0 80px;
            width: 100%;
            position: relative;
            .ceo_msg{
                width: 100%; height: 300px;
                object-fit: cover;
                filter: brightness(0.2);
            }
            .msg{
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%; left: 0;
                transform: translateY(-65%);
                

                >h2{
                    letter-spacing: 1px;
                    font: normal 25px/1 "PT Sans Narrow";
                    color: #fff;
                    margin-bottom: 20px;
                    opacity: 0.9;
                }
                >p{
                    letter-spacing: 0.5px;
                    font: normal 18px/1.3 "PT Sans Narrow";
                    color: #fff;
                    opacity: 0.6;margin-bottom: 50px;
                }
                >span{
                    letter-spacing: 0.5px;
                    font: normal 15px/1 "PT Sans Narrow";
                    color: #fff;
                    opacity: 0.4;
                }
            }

        }

        .show_txt {
			padding: 20px 0 20px;
			border-top: 1px solid #555;
			width: 100%;
			position: relative;

			&::after {
				content: "";
				display: block;
				clear: both;
			}

			> h1 {
                text-align: right;
				float: right;
				font: bold 38px/1.2 "PT Sans Narrow";
				color: #333;
				letter-spacing: 1px;
			}
			.sh_txt {
				width: 55%;
				float: left;
                text-align: left;
				> p {
					word-break: break-all;
					font: normal 20px/1.3 "PT Sans Narrow";
					color: #555;
					letter-spacing: 0.5px;
					margin-bottom: 20px;
				}
                >span{
					font: normal 18px/1 "PT Sans Narrow";
					color: #777;
					letter-spacing: 0.5px;
					
                }
			}
		}

        .show{
            padding:40px 0 80px;
            width: 100%;
            position: relative;

            &::after{
                content: "";
                display: block;
                clear: both;
            }

            .preview{
                margin-bottom: 20px;
                cursor: pointer;
                float: left;
                width: 280px; height: 340px;
                margin-right: 20px;
    

                &:nth-child(3){
                    width: 580px; 
                }
                &:nth-child(3), &:nth-child(7){
                    margin-right: 0px;
                }
                &:hover .sh{
                    filter: grayscale(0);
                }

            
                .sh{
                    width: 100%;
                    height: 340px;
                    object-fit: cover;
                    filter: grayscale(1);
                    transition: 1s;
                }
            }   
        }

        .preview_txt{
            padding: 0 0 100px;
            width: 100%;
            text-align: center;
            position: relative;

            .look{
                width: 100%;
                
                >h1{
                    font: bold 25px/1 "PT Sans Narrow";
                    color: #333;
                    letter-spacing: 1px;
                }
                >p{
                    font: no 18px/1.3 "PT Sans Narrow";
                    color: #555;
                    letter-spacing: 0.5px;
                    word-break: break-all;
                }
            }


        }

        .member_txt {
			padding: 20px 0 20px;
			border-top: 1px solid #555;
			width: 100%;
			position: relative;

			&::after {
				content: "";
				display: block;
				clear: both;
			}

			> h1 {
				float: left;
				font: bold 38px/1 "PT Sans Narrow";
				color: #333;
				letter-spacing: 1px;
			}
			.mem_txt {
				width: 55%;
				float: right;
                text-align: right;
				> p {
					word-break: break-all;
					font: normal 18px/1.3 "PT Sans Narrow";
					color: #555;
					letter-spacing: 0.5px;
					margin-bottom: 20px;
				}
			}
		}

        .about_member{
            padding: 20px 0 0;
            width: 100%;
            position: relative;

            &::after{
                content: "";
                display: block;
                clear: both;
            }
            
            .member{
                cursor: pointer;
                float: left;
                width: 380px;
                margin-right: 20px;
                

                &:nth-child(5){
                    width: 780px;
                }
                &:nth-child(3), &:nth-child(5), &:nth-child(8){
                    margin-right: 0px;
                }
                &:hover .mem{
                    filter: brightness(0.4);
                    transform: scale(0.99);
                }
                &:hover span{
                    opacity: 1;
                }
                
            
                .mem{
                    position: relative;
                    width: 100%;
                    height: 380px;
                    object-fit: cover;
                    transition: 0.7s;

                }
                >span{
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    transform: translateY(-210px);
                    text-align: center;
                    font: bold 25px/1 "PT Sans Narrow";
                    letter-spacing: 1px;
                    color: #fff;
                    transition: 1.3s;

                }
            }
        }
    }
}