.gallery{
    .inner{
        // position: relative;
        

        .loading{
            position: absolute;
            top: 350px;
            left: 50%;
            width: 20%;
            transform: translateX(-50%);

        }

        h1{
        
            font: normal 80px/1 "PT Sans Narrow";
            color: #333; cursor: pointer;

            &::after{
                content: "";
                display: block;
                width: 68%;
                height: 1px;
                background: #555;
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }
        p{
            font: 16px/1.3 "PT Sans Narrow";
            color: #555;
            margin: 0 auto;
            width: 450px;
            word-wrap: break-word;
            letter-spacing: 1px;
            margin-bottom: 150px;
        }

        .searchBox{
            text-align: right;
            margin-bottom: 20px;

            input{
                width: 100px;
                height: 24px;
                border-radius: 3px;
                border: 1px solid #555;
                background: none;
                margin-right: 10px;
            }
            button{
                font: normal 14px/1.2 "PT Sans Narrow";
                padding: 2px;
                letter-spacing: 0.4px;
                
            }
        }
        .list{
            transform: translateY(200px); opacity: 0; transition: 1s;
            &::after{
                content: "";
                display: block;
                clear: both;
            }

            &.on {
                transform: translateY(0px); opacity: 1;
            }
            article{
                width: 25%; height: 300px; float: left;
                padding: 10px;
                border-top: 1px solid #555;

                >.inner{
                    width: 100%; height: 100%;  
                    padding: 25px 10px;


                    .pic{
                        width: 100%; height: 180px; margin-bottom: 20px;


                        img{
                            width: 100%; height: 100%;
                            object-fit: cover;
                            filter: grayscale(1);
                            transition: 1s;
                            cursor: pointer;

                            &:hover{
                                filter: grayscale(0);
                            }
                        }


                    }

                    h2{
                        font: normal 14px/1.2 "PT Sans Narrow";
                        letter-spacing: 0.7px;
                        color: #777;
                    }
                    strong{
                        font:  normal 12px/1.2 "PT Sans Narrow";
                        letter-spacing: 0.7px;
                        color: #777;
                    }
                }

            }
        }
    }

}
.pop{
    z-index: 10;
    width: 100%; height: 100vh;
    position: fixed;
    top: 0px; left: 0px; background: rgba(37, 37, 37, 0.9);
    padding: 5vw;
    img{
        width: 65%; height: 65%;
        object-fit: contain;
        margin-bottom: 15px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    p{
        background: #222;
        font: 14px/1.2 "PT Sans Narrow";
        color: #fff;
        position: absolute;
        top:48%; left: 17.6%;
        text-align: center;
        letter-spacing: 1px;
    }

    span{
        font: bold 14px/1 "PT Sans Narrow";
        letter-spacing: 0.5px;
        color: #fff;
        position: absolute;
        top: 3vw; right: 5vw;
        cursor: pointer;
    }
}

@media screen and (max-width: 790px) {
    .gallery{
        .inner{
            .loading{
                width: 30%;
    
            }
            .list{
                article{
                    width: 50%; 
    
                }
            }
        }
    
    }
}

@media screen and (max-width: 539px) {
    .gallery{
        .inner{
            .loading{
                width: 40%;
    
            }
            .list{
                article{
                    width: 100%; 
    
                }
            }
        }
    
    }
}