.youtube{
    .inner{
        h1{
            a{
                font: normal 80px/1 "PT Sans Narrow";
                color: #333;
            }       

            &::after{
                content: "";
                display: block;
                width: 68%;
                height: 1px;
                background: #555;
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }
        p{
            font: 16px/1.3 "PT Sans Narrow";
            color: #555;
            margin: 0 auto;
            width: 450px;
            word-wrap: break-word;
            letter-spacing: 1px;
            margin-bottom: 150px;
        }
        
        .frame{
            &::after{
                content: "";
                display: block;
                clear: both;
            }

            article{
                width: 100%;
                height: 250px;
                padding: 10px;
                overflow: hidden;

                .inner{
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    border-top: 1px solid #555;
                    align-content: space-between;

                    /*
                    word-break : 텍스트의 줄바꿈 속성을 지정
                    - normal : 한글은 한글자기준, 영어는 단어기준 줄바꿈 defalt값
                    -break-all : 한글과 영문 모두 글자기준으로 줄바꿈
                    -keep-all : 한글과 영문 모두 단어기준으로 줄바꿈
                    
                    */

                    .txt{
                        position: relative;
                        width: 70%;
                        float: left;


                        h2{
                            font: bold 17px/1.2 "PT Sans Narrow";
                            color: #555;
                            margin-bottom: 20px;
                            word-break: break-all;
                            letter-spacing: 1px;
                        }
                        p{
                            position: absolute;
                            top:0; left: 50%;
                            transform: translateX(-15%);
                            width: 400px;
                            font: 15px/1.2 "PT Sans Narrow";
                            letter-spacing: 0.7px;
                            color: #888;
                            word-break: break-all;
                        }
                        >span{
                            >a{
                                position: absolute;
                                bottom: 0; left: 42%;
                                font: 14px/1.2 "PT Sans Narrow";
                                letter-spacing: 1px;
                                color: #555;
                            }
                        }
                    }

                    .pic{
                        float: right;
                        width: 30%;
                        height: 110%;
                        cursor: pointer;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: grayscale(1);
                            transition: 1s;
                            

                            &:hover{
                                filter: grayscale(0);
                            }
                        
                        }
                    }
                }
            }
        }

    }
}

.pop{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px; left: 0px;
    background: rgba(37, 37, 37, 0.9);
    padding: 5vw;


    iframe{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        width: 65%;
        height: 65%;
    }

    span{
        position: absolute;
        top: 3vw; right: 5vw;
        font: 14px/1 "PT Sans Narrow";
        letter-spacing: 0.5px;
        color: #fff;
        cursor: pointer;
    }
}