@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Manrope:wght@300&family=PT+Sans+Narrow&family=Roboto+Condensed&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  outline: 0; }

body {
  background: rgba(218, 218, 218, 0.664); }

header {
  width: 100%; }
  header .inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    header .inner h1 {
      position: absolute;
      left: 0;
      bottom: 20px; }
      header .inner h1 a {
        font: bold 20px/1 "Dosis";
        color: #555; }
    header .inner #gnb {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      header .inner #gnb li {
        float: left; }
        header .inner #gnb li a {
          display: inline-block;
          padding: 22px 30px;
          font: normal 13px/1 "Dosis";
          color: #777; }

main {
  padding: 100px 0px; }
  main > .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0px auto; }
    main > .inner h1 {
      font: 30px/1 "arial";
      color: #333;
      margin-bottom: 20px; }

footer {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 50px 0; }
  footer .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center; }
    footer .inner p {
      font: 12px/1 "arial";
      color: #888;
      text-align: center; }

@media screen and (max-width: 1179px) {
  header .inner {
    width: 100%; }
    header .inner h1 {
      left: 3vw; }
    header .inner #gnb {
      display: none; }

  main {
    padding: 80px 40px; }
    main .inner {
      width: 100%; }

  footer .inner {
    width: 100%; } }
figure {
  margin: 0 auto;
  width: 100%;
  background: cyan; }

#info {
  width: 100%;
  padding: 100px 0; }
  #info .inner {
    width: 1180px;
    min-height: 300px;
    margin: 0px auto; }

#info {
  width: 100%;
  padding: 100px 0; }
  #info .inner {
    width: 1180px;
    margin: 0px auto; }

.community .inner h1 a {
  font: normal 80px/1 "PT Sans Narrow";
  color: #333; }
.community .inner h1::after {
  content: "";
  display: block;
  width: 68%;
  height: 1px;
  background: #555;
  margin-top: 20px;
  margin-bottom: 30px; }
.community .inner p {
  font: 16px/1.3 "PT Sans Narrow";
  color: #555;
  margin: 0 auto;
  width: 450px;
  word-wrap: break-word;
  letter-spacing: 1px;
  margin-bottom: 150px; }

.gallery .inner {
  position: relative; }
  .gallery .inner .loading {
    position: absolute;
    top: 350px;
    left: 50%;
    width: 20%;
    transform: translateX(-50%); }
  .gallery .inner h1 a {
    font: normal 80px/1 "PT Sans Narrow";
    color: #333; }
  .gallery .inner h1::after {
    content: "";
    display: block;
    width: 68%;
    height: 1px;
    background: #555;
    margin-top: 20px;
    margin-bottom: 30px; }
  .gallery .inner p {
    font: 16px/1.3 "PT Sans Narrow";
    color: #555;
    margin: 0 auto;
    width: 450px;
    word-wrap: break-word;
    letter-spacing: 1px;
    margin-bottom: 150px; }
  .gallery .inner .searchBox {
    text-align: right;
    margin-bottom: 20px; }
    .gallery .inner .searchBox input {
      width: 100px;
      height: 24px;
      border-radius: 3px;
      border: 1px solid #555;
      background: none;
      margin-right: 10px; }
    .gallery .inner .searchBox button {
      font: normal 14px/1.2 "PT Sans Narrow";
      padding: 2px;
      letter-spacing: 0.4px; }
  .gallery .inner .list::after {
    content: "";
    display: block;
    clear: both; }
  .gallery .inner .list article {
    width: 25%;
    height: 300px;
    float: left;
    padding: 10px;
    border-top: 1px solid #555; }
    .gallery .inner .list article > .inner {
      width: 100%;
      height: 100%;
      padding: 25px 10px; }
      .gallery .inner .list article > .inner .pic {
        width: 100%;
        height: 180px;
        margin-bottom: 20px; }
        .gallery .inner .list article > .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(1);
          transition: 1s;
          cursor: pointer; }
          .gallery .inner .list article > .inner .pic img:hover {
            filter: grayscale(0); }
      .gallery .inner .list article > .inner h2 {
        font: normal 14px/1.2 "PT Sans Narrow";
        letter-spacing: 0.7px;
        color: #777; }
      .gallery .inner .list article > .inner strong {
        font: normal 12px/1.2 "PT Sans Narrow";
        letter-spacing: 0.7px;
        color: #777; }
.gallery .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .gallery .pop img {
    width: 100%;
    height: 95%;
    object-fit: contain;
    margin-bottom: 15px; }
  .gallery .pop p {
    font: 14px/1.2 "arial";
    color: #fff;
    text-align: center; }
  .gallery .pop span {
    font: bold 14px/1 "arial";
    color: #fff;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer; }

.youtube .inner h1 a {
  font: normal 80px/1 "PT Sans Narrow";
  color: #333; }
.youtube .inner h1::after {
  content: "";
  display: block;
  width: 68%;
  height: 1px;
  background: #555;
  margin-top: 20px;
  margin-bottom: 30px; }
.youtube .inner p {
  font: 16px/1.3 "PT Sans Narrow";
  color: #555;
  margin: 0 auto;
  width: 450px;
  word-wrap: break-word;
  letter-spacing: 1px;
  margin-bottom: 150px; }
.youtube .inner .frame::after {
  content: "";
  display: block;
  clear: both; }
.youtube .inner .frame article {
  width: 100%;
  height: 250px;
  padding: 10px;
  overflow: hidden; }
  .youtube .inner .frame article .inner {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #555;
    align-content: space-between;
    /*
    word-break : 텍스트의 줄바꿈 속성을 지정
    - normal : 한글은 한글자기준, 영어는 단어기준 줄바꿈 defalt값
    -break-all : 한글과 영문 모두 글자기준으로 줄바꿈
    -keep-all : 한글과 영문 모두 단어기준으로 줄바꿈
    
    */ }
    .youtube .inner .frame article .inner .txt {
      position: relative;
      width: 70%;
      float: left; }
      .youtube .inner .frame article .inner .txt h2 {
        font: bold 16px/1.2 "PT Sans Narrow";
        color: #555;
        margin-bottom: 20px;
        word-break: break-all;
        letter-spacing: 1px; }
      .youtube .inner .frame article .inner .txt p {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-15%);
        width: 400px;
        font: 14px/1.2 "PT Sans Narrow";
        letter-spacing: 0.7px;
        color: #888;
        word-break: break-all; }
      .youtube .inner .frame article .inner .txt > span > a {
        position: absolute;
        bottom: 0;
        left: 42%;
        font: 12px/1.2 "PT Sans Narrow";
        letter-spacing: 1px;
        color: #555; }
    .youtube .inner .frame article .inner .pic {
      float: right;
      width: 30%;
      height: 110%;
      cursor: pointer; }
      .youtube .inner .frame article .inner .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
        transition: 1s; }
        .youtube .inner .frame article .inner .pic img:hover {
          filter: grayscale(0); }
.youtube .inner .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .youtube .inner .pop iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 65%;
    height: 65%; }
  .youtube .inner .pop span {
    position: absolute;
    top: 3vw;
    right: 5vw;
    font: 14px/1 "arial";
    color: #fff;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
