@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Manrope:wght@300&family=PT+Sans+Narrow&family=Rajdhani&family=Roboto+Condensed&display=swap');

$web : 1199px;
$tablet : 739px;
$mobile : 539px;


//common style
@import "common/reset";
@import "common/layout";

//main style
@import "main/visual";
@import "main/info";

//sub style
@import "sub/department";
@import "sub/community";
@import "sub/gallery";
@import "sub/youtube";
@import "sub/location";
@import "sub/join";

